body {
    background: linear-gradient(180.00deg, rgb(55, 65, 81), rgb(17, 24, 39) 100%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    color: #ffffff;
}

header {
    padding: 20px 40px;
}

.navbar {
    /* Сделал флекс контейнер */
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.left-menu {
    /* Сделал флекс контейнер */
    display: flex;
    align-items: center;
    gap: 40px;
}

.item1 {
    width: 35px;
    height: 35px;
    border-radius: 3px;
    background: rgb(75, 85, 99);
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
    /* Сделал флекс контейнер */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
}

.left-menu a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

#search {
    width: 224px;
    height: 40px;
    border-radius: 100px;
    background: rgba(31, 41, 55, 0.6);
    border: none;
    padding-left: 20px;
    font-size: 16px;
    color: white;
}

main {
    /* Сделал флекс контейнер */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.textFrontend {
    font-size: 14px;
    line-height: 16px;
    width: 180px;
    opacity: 0.6;
}

h1 {
    font-size: 24px;
    line-height: 38px;
}

.imgnatalya img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.imgmonitor img {
    width: 896px;
    height: 594px;
    margin: 28px 0 69px 0;
}

div p {
    line-height: 28px;
}

.natalya {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}

.developer {
    font-size: 14px;
    opacity: 0.6;
    margin: 0;
    line-height: 1.4;
}

.author-text {
    /* Сделал флекс контейнер */
    display: flex;
    flex-direction: column;
}

.textTeoria {
    width: 708px;
    font-size: 20px;
    line-height: 32px;
    text-align: left;
}

.textUniversal {
    width: 708px;
    font-size: 16px;
    line-height: 30px;
    text-align: left;
}

p a {
    color: #ffffff;
}