body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
}

.main {
    /* Общие стили для всей страницы */
    width: 582px;
    height: 573px;
    left: 429px;
    top: 225px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgb(255, 254, 254);
}

.textRegistration {
    /* Текст Регистрация */
    color: rgb(51, 51, 51);
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
    text-align: center;
    margin: 47px 95px 0px 93px;
}

.account {
    /* Уже есть аккаунт? */
    color: rgb(102, 102, 102);
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

.account a {
    /* Войти? */
    color: rgb(8, 159, 224);
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    text-decoration-line: underline;
}

.inputNameCompany {
    width: 394px;
    height: 44px;
    left: 522px;
    top: 424px;
    font-size: 16px;
    border: 1px solid rgb(245, 245, 245);
    border-radius: 5px;
    background-color: #F5F5F5;
    margin: 47px 95px 0px 93px;
    box-sizing: border-box;
    padding-left: 10px;
}

.inputNameCompany:focus {
    background-color: #ffffff;
    color: rgb(51, 51, 51);
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    padding-left: 10px;
}

.inputNameUser {
    width: 194px;
    height: 44px;
    left: 522px;
    top: 490px;
    font-style: italic;
    font-size: 16px;
    border: 1px solid rgb(245, 245, 245);
    border-radius: 5px;
    background-color: #F5F5F5;
    margin: 22px 0px 0px 93px;
    box-sizing: border-box;
    padding-left: 10px;
}

.inputNameUser:focus {
    background-color: #ffffff;
    color: rgb(51, 51, 51);
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    padding-left: 10px;
}

.inputSernameUser {
    width: 194px;
    height: 44px;
    left: 522px;
    top: 490px;
    font-style: italic;
    font-size: 16px;
    border: 1px solid rgb(245, 245, 245);
    border-radius: 5px;
    background-color: #F5F5F5;
    margin: 22px 0px 0px 0px;
    box-sizing: border-box;
    padding-left: 10px;
}

.inputSernameUser:focus {
    color: rgb(51, 51, 51);
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    padding-left: 10px;
}

.inputEmail {
    width: 394px;
    height: 44px;
    left: 522px;
    top: 556px;
    font-style: italic;
    font-size: 16px;
    border: 1px solid rgb(245, 245, 245);
    border-radius: 5px;
    background-color: #F5F5F5;
    margin: 22px 95px 0px 93px;
    box-sizing: border-box;
    padding-left: 10px;
}

.inputEmail:focus {
    color: rgb(51, 51, 51);
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    padding-left: 10px;
}

.button {
    width: 394px;
    height: 44px;
    background-color: #089FE0;
    color: #ffffff;
    border: 1px solid rgb(245, 245, 245);
    border-radius: 5px;
    margin: 22px 95px 22px 93px;
    background-image: url(../image/Arrow\ 1.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 24px) center;
    color: rgb(255, 255, 255);
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

.conditions {
    margin: 0px 118px 91px 93px;
}

.apply {
    color: #666666;
    background-color: #F5F5F5;
}

.applyText a {
    color: #089FE0;
    text-decoration: none;
    font-size: 14px;
    line-height: 19px;
}